body{
    background: linear-gradient(90deg, hsl(0, 0%, 20%),hsl(75, 94%, 57%));
    display:flex;
    flex-direction: column;
    min-height:100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#social-page{
    background-color:hsl(0, 0%, 12%);
    width:100%;
    height: 100%;
    max-width: 300px;
    border-radius:10px;
    padding:20px 20px;
}
.link{
    display:block;
    text-decoration: none;
    background-color:  hsl(0, 0%, 20%);
    text-align: center;
    padding:10px;
    margin:10px 10px;
    border-radius:5px;
    color:hsl(0, 0%, 100%);
}
.link:hover{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 12%);
}
img{
    border-radius:50%;
    object-fit:cover;
}
h1{
    color:hsl(0, 0%, 100%);
}
#place{
    font-size:0.75em;
    color:hsl(75, 94%, 57%);
}
#quote{
    font-size:0.75em;
    color:white;
}